body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  font-family: "times new roman", Times, serif;
}

.head1 {
  text-align: center;
  color: darkblue;
  margin-top: 30px;
  font-size: 40px;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero img {
  width: 350px;
  max-width: 90%;
}




/* new */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(216, 213, 53, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.0s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}






.comparison {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 40px 60px;
  flex-wrap: wrap;
}

.expect {
  background-color: rgb(163, 147, 147);
  width: 320px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.expect h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.expect img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.expect p {
  font-size: 16px;
  line-height: 1.6;
  color: #e93717;
  font-size: 18px;
}

.why {
  max-width: 700px;
  margin: 0 auto 50px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  color: #444;
  font-weight: bolder;
}

.buttons {
  text-align: center;
  margin-bottom: 60px;
}

.button {
  display: inline-block;
  padding: 12px 22px;
  margin: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

.primary {
  background-color: lightgreen;
  color: rgb(0, 0, 0);
}

.secondary {
  border: 1px solid lightcoral;
  color: #333;
}

.audio {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;

}

.doraemon {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color: lightgreen;
}

.video {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px 5px 5px 5px;
}

.video1 {
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color: lightpink;
  object-fit: cover;
}

.iframe {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.iframe_expect {
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color: lightgreen;
}

.ending {
  text-align: center;
  color: #ffffff;
}

marquee {
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}